<div class='container'>
    <div class='row'>
      <div class='col-xs-3'>
        <%= render 'users/intro', user: @user, book: @books %>
      </div>
          <div class='col-xs-9'>
                    <h2>Book detail</h2>
                        <table class='table table-hover table-inverse'>
                            <tr>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                            </tr>

                            <tr>
                                <td>
                                    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
                                    <%= link_to @user_show.name, user_path(current_user) %>
                                </td>
                                <td><%= @book.title %></td>
                                <td><%= @book.body %></td>
                                <% if current_user == @user_show %>
                                  <td><%= link_to "Edit", edit_book_path(@book) %></td>
                                  <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
                                <% end %>
                            </tr>
                        </table>
            </div>
