<div class='container'>
    <div class='row'>
      <div class='col-xs-3'>
        <%= render 'users/intro', user: @user_show, book: @books %>
      </div>
          <div class='col-xs-9'>
                    <h2>Book detail</h2>
                        <table class='table table-hover table-inverse'>
                            <tr>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                             <th style="border:none;"></th>
                            </tr>

                            <tr>
                                <td>
                                    <%= attachment_image_tag @user_show, :profile_image, :fill, 60, 60,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
                                    <%= link_to @user_show.name, user_path(@user_show) %>
                                </td>
                                <td><%= @book.title %></td>
                                <td><%= @book.body %></td>

                                <% if current_user == @user_show %>
                                  <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-xs" %></td>
                                  <td><%= link_to "Destroy", book_path(@book), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: '本当に消しますか？' } %></td>
                                <% end %>
                            </tr>

                            <ol>
                              <% @book.post_comments.each do |post_comment| %>
                                <li class="comment">
                                  <div class="comment-body bb">
                                    <div class="comment-avatar">
                                      <div class="avatar">
                                      <%= attachment_image_tag @user_show, :profile_image, :fill, 60, 60,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
                                      </div>
                                    </div>
                                    <div class="comment-text">
                                      <div class="comment-author clearfix">
                                        <a href="#" class="link-author"><%= post_comment.user.name %></a>
                                        <span class="comment-meta">
                                          <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                                        </span>
                                      </div>
                                      <div class="comment-entry"><%= post_comment.comment %>
                                      </div>
                                      <% if post_comment.user == current_user%>
                                        <div>
                                          <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
                                        </div>
                                      <% end %>
                                    </div>
                                  </div>
                                </li>
                              <% end %>
                              </ol>
                        </table>
                                <%= form_for [@book, @post_comment] do |f| %>
                                  <table class='col-xs-11'>
                                      <tr>
                                        <td><%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %></td>
                                      </tr>
                                      <tr>
                                        <td><%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %></td>
                                      </tr>
                                  </table>
                                <% end %>
            </div>
